@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<!-- For pages with forms only -->
<script type="text/javascript" src="~/scripts/jquery.validate-1.14.0.min.js"></script>
<script type="text/javascript" src="~/scripts/jquery.validate.unobtrusive-5.2.3.min.js"></script>
	
	

<div class="dark">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>


                    <h2>The forum</h2>
                    <p>For questions on how to use Umbraco, the forum section on Our Umbraco is the best place to start.</p>
                    @CurrentPage.pagecontent

                </div>
            </div>
        </div>
    </div>
</div>


<div class="full triangle">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div>


                    <img src="/media/1037/9015601712_72e44263e4_b.jpg?width=1920&amp;height=700&amp;center=0.606741573033708,0.4825&amp;mode=crop">


                </div>
            </div>
        </div>
    </div>
</div>